*{
  box-sizing: border-box;
}

.App {
  text-align: center;
}
.outline{
  background-color: rgb(0, 0, 0);
  height: 100vh;
  padding: .5rem;
}
.appPage{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  height: 100%;
  background-image: url('../../client/src/img/jerusalem.jpg');
  background-size: 100% 100%;
  background-blend-mode: soft-light;
  background-color: #474545;
  opacity: 0.9;
}
.image{
  border: rgb(255, 255, 255) .5rem solid;
  height: 50%;
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  /* background-size: 100% 100%; */
}
.image button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  transition: ease-in-out .5s;
}
.image button:hover{
  transition: ease-in-out .5s;
  height: 3.3rem;
  width: 3.3rem;
}
.dishTitle{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6%;
  width: 50%;
  color: #f8f6f2;
  transition: ease-in-out 0.5s;
}
.answersArea{
  height: 35%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.answersArea button{
  height: 8rem;
  width: 24rem;
  cursor: pointer;
}
.answersRight{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.timer{
  display: flex;
  align-items: center;
  justify-content: center;
  border: rgb(255, 255, 255) .5rem solid;
  width: 6rem;
  height: 6rem;
  color: #ff2424;
}
.answersLeft{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Welcome Page */
.welcomePage {
  border: rgb(255, 255, 255) .5rem solid;
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: azure;
}
.gameRules{
  width: 70%;
}
.startButton{
  height: 5rem;
  width: 16rem;
  animation: pulse;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  background-color: rgb(149, 7, 7);
  color: tan;
  cursor: pointer;
}
@keyframes pulse{
  0% {
    height: 5rem;
    width: 16rem;
  }
  50%{
    height: 5.3rem;
    width: 16.3rem;
    background-color: #ee1414;
    color: #f8f6f2;
  }
  100% {
    height: 5rem;
    width: 16rem;
  }

}