*{
  box-sizing: border-box;
}

.App {
  text-align: center;
}
.outline{
  background-color: aqua;
  height: 100vh;
  padding: .5rem;
}
.appPage{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  background-color: firebrick;
  height: 100%;
}
.image{
  background-color: forestgreen;
  border: aqua .5rem solid;
  height: 50%;
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.image button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  transition: ease-in-out .5s;
}
.image button:hover{
  transition: ease-in-out .5s;
  height: 3.3rem;
  width: 3.3rem;
}
.dishTitle{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6%;
  width: 50%;
  border: aqua.5rem solid;
  transition: ease-in-out 0.5s;
}
.answersArea{
  border: aqua .5rem solid;
  height: 35%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.answersArea button{
  height: 8rem;
  width: 24rem;
}
.answersRight{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.timer{
  display: flex;
  align-items: center;
  justify-content: center;
  border: aqua .5rem solid;
  width: 6rem;
  height: 6rem;
}
.answersLeft{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Welcome Page */
.welcomePage {
  border: aqua .5rem solid;
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: azure;
}
.gameRules{
  width: 70%;
}
.startButton{
  height: 5rem;
  width: 16rem;
  animation: pulse;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  background-color: firebrick;
  color: tan;
}
@keyframes pulse{
  0% {
    height: 5rem;
    width: 16rem;
  }
  50%{
    height: 5.3rem;
    width: 16.3rem;
    background-color: #ff3131;
    color: #a18b6e;
  }
  100% {
    height: 5rem;
    width: 16rem;
  }

}